
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 307px;
    background-color: #16697A;
}

.footer-item li{
    margin: 0 20px;
    text-align: left;
    line-height: 40px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.footer-item .h2-2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;q
color: #FFFFF;
}

#backtop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: .7s;
}
#backtop a img{
    width: 50px;
    border-radius: 24px;
}
@media (max-width: 780px){
    .item-cards{
        margin-left: 70px;
    }
}
@media (max-width: 850px){
    footer{
        margin-left: 50px;
        width: 80%;
        height: 80%;
        flex-direction: column;
    }
    .footer-item li {
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
    }
}